#id::placeholder {
  color: #007bff;
  text-align: center;
}

#contraseña::placeholder {
  color: #007bff;
  text-align: center;
}

#registro {
  color: #007bff;
  text-decoration: none;
}

#registro:hover {
  color: #0056b3;
}

#Correo::placeholder {
  color: #007bff;
  text-align: center;
}


